@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

@using WebApplication25.ModelView;
@using System.Text;
@model FilesModelView
@{
}
@Html.ActionLink("Show main table", "MainTable", "Home")
@Html.ActionLink("Show ip table", "IpTable", "Home")
@Html.ActionLink("Show files table", "FilesTable", "Home")

   

<form asp-action="FilesTable" asp-controller="Home" method="post">
    <input type="search" asp-for="_search" />
    <input type ="submit" />
</form>

<form asp-action="FilesTable" asp-controller="Home">
    @foreach(var i in Model.Filters)
{
    if (i != null)
    {
          <label>@i</label>
            if (Model.CheckedItems != null)
            {

                if (Model.CheckedItems.Contains(i))
                {
                    <input type="checkbox" name="filters" value="@i" checked="checked">
                }
                else
                {
                    <input type="checkbox" name="filters" value="@i" >
                }
                <text> &nbsp;&nbsp;</text>
    }
    else
            {
                  <input type="checkbox" name="filters" value="@i" >  <text> &nbsp;&nbsp;</text>
            }
}
}
<input type="submit" />
</form>






  <table class="table table-striped">
              <thead>
    <tr>
    
      <th scope="col">Id</th>
     
     
        <th scope="col">Path</th>
    
        <th scope="col">Name</th>
        <th scope="col">Volume</th>
     
     
      
  
  
    </tr>
  </thead>
        
        @foreach(var i in Model.FilesInfos)
        {
          
               <tr>
                   
                  <td>
                      
                      @i.Id
                  </td>
                  <td class="Path">
                      @i.Path
                  </td>
                  <td>
                      @i.Name
                  </td>
                  <td>
                      @i.DataVolume
                  </td>
               
               
               
                
               </tr>

           
                
        }
           </table>



@section Scripts
{
    <script src="~lib/jquery/dist/jquery.js"></script>
    <script>
        $('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
    </script>
}
