@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

@using WebApplication25.ModelView;
@using System.Text;
@model IpModelView
@{
}
@Html.ActionLink("Show main table", "MainTable", "Home")
@Html.ActionLink("Show ip table", "IpTable", "Home")
@Html.ActionLink("Show files table", "FilesTable", "Home")

   

<form asp-action="IpTable" asp-controller="Home">
    <input type="search" asp-for="_search" />
    <input type ="submit" />
</form>
<form asp-action="IpTable" asp-controller="Home">
@foreach(var i in Model.Filters)
{
    if (i != null)
    {
          <label>@i</label>
              if (Model.CheckedItems != null)
            {

                if (Model.CheckedItems.Contains(i))
                {
                    <input class="input_comp" type="checkbox" name="filters" value="@i" checked="checked">
                }
                else
                {
                    <input type="checkbox" class="input_comp" name="filters" value="@i" >
                }
                <text> &nbsp;&nbsp;</text>
    }
    else
            {
                  <input type="checkbox" class="input_comp" name="filters" value="@i" >  <text> &nbsp;&nbsp;</text>
            }
}
}
<input type="submit" />
</form>
  <table class="table table-striped" id="StatusTable">
              <thead>
    <tr class ="first" id="first">
    
      <th scope="col">Id</th>
     
     
        <th scope="col">Ip</th>
    
        <th scope="col">Company name</th>
     
     
      
  
  
    </tr>
  </thead>
        
        @foreach(var i in Model.IpData)
        {
          
               <tr id="@i.Id" class="@i.Id">
                   
                  <td  class="ID" rel="@i.Id">
                      
                      @i.Id
                  </td>
                  <td class="IpAddress" rel="@i.IPAddress">
                      @Encoding.ASCII.GetString(i.IPAddress)
                  </td>
                  <td class="@i.CompanyName"  rel="@i.CompanyName">
                      @i.CompanyName
                  </td>
               
               
               
                
               </tr>

           
                
        }
           </table>



@section Scripts
{
    <script src="~lib/jquery/dist/jquery.js"></script>
    <script>
        $('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }




    </script>
}
